* {
    margin: 0px;
    padding: 0px;
}

.vhdfhvd74 {
    float: left;
    background-color: #34434E;
    width: 829px;
    height: 60px;
}

.fggf {
    margin-top: 5px;
    float: left;
    background-color: #2C3A44;
    border-radius: 6px;
    width: 460px;
    height: 48px;
    margin-left: 11px;
}

.hdvhdf {
    margin-top: 4px;
    width: 43px;
    height: 43px;
    float: left;
    margin-left: 9px;
}

.hdfhd {
    float: left;
    margin-top: 11px;
    font-size: 19px;
    color: wheat;
}

.gdfgdf {
    font-size: 18px;
    color: #2C3A44;
    float: right;
    width: 155px;
    height: 42px;
    margin-top: 3px;
}

.fhhdf {
    float: left;
    margin-left: 51px;
    margin-top: 10px;
}

.dfdfvv {
    margin-top: 5px;
    width: 50px;
    height: 50px;
}

.ok00 {
    margin-top: 10px;
    color: white;
    background-color: #545B62;
}

.ok00:hover {
    margin-top: 10px;
    color: wheat;
    background-color: #545B62;
}

.fdhhv {
    margin-left: 19px;
    background-color: #545B62;
}

.dropdown-menu.show {
    background-color: #545B62;
    display: block;
}

.dsgfsfd {
    height: 100%;
    width: 100%;
}

.dshvsd .dshvsd0 {
    float: left;
    list-style: none;
}

.dshvsd .dshvsd0 a {
    text-decoration: none;
}

.dshvsd0 {
    font-size: 16px;
    padding: 20px 10px;
    margin: 0px 10px;
    width: 159px;
    height: 62px;
}



body {
    background-color: #2C3A44;
}